body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px; /* para espaçamento nos conteúdos dos todos */
  color: #333;
  /* imagem de fundo, mas primeiro salve a imagem na pasta img, dentro da pasta SRC */
  background-image: url('./img/quadro-scrum.jpg');
  background-position: center;
  background-size: covert; /* como é imagem grande, o cover aparece a imagem o máximo possível */
}

.App{
  max-width: 600px;
  margin: 0 auto 300px; /* os 300px vai facilitar a centralização */
  /* Cor de fundo do texto app é quase branco */
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center; /* centralizar o paragrafo h1 */
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;  /* para não passar da área de limite */
}

button{
	background-color: #333974;
	color: #fff;
	padding: 5px 10px;
  margin-right: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s; /*com a transição a cor mudará a opacity */
}

button:hover{
	opacity: 1;  /* com transição hover a opacidade muda de 0.8 para 1.0 */
}

/* Aos 38:00 min */
.todo-list{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #555; /* uma linha marcar o fim da lista e começar o form */
}

.todo { /* cada uma das tarefas */
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* cor preta e opacidade 0.1 */
	padding: 10px;       	/* para afastar um item do outro */
	margin-bottom: 10px; 	/* para afastar um item do outro */
	border-radius: 5px;  	/* segue o projeto */
	display: flex;
	justify-content: space-between; /* Alinha a horizontal, colocando os botões no lado direito e o conteúdo no lado esquerdo */
	align-items: center; 	/* Centralizar na vertical */
}
/* fim dos 38.31 min */


.complete{
	background-color: #5cb85c;
}

.remove{
	background-color: #d9534f;
}


.todo-form{
	padding-bottom: 1.5rem;  /* para dar espaçamento interno */
}

input, select {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 3px; 	/* conforme outros itens, é padrão */
	width: 100%;   
}

/** filter e search terão o mesmo estilo que todo-list, e cada um fica numa área delimitada */
.filter, .search {
	border-bottom: 1px solid #555;
	margin-bottom: 20px;
	padding-bottom: 20px;  
}

/** Vamos deixar o filtro do lado direito, e o search do lado esquerdo */
/** afasta um do outro (mas como estão em cantos não funciona o gap */
.filter-options {
	display: flex;
	justify-content: space-between;
    gap: 3rem;
}

.filter-options div {
	flex: 1 1 0; /** Adicionando flex eles assumem todo espaço que puderem */
}
