body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px; /* para espaçamento nos conteúdos dos todos */
  color: #333;
  /* imagem de fundo, mas primeiro salve a imagem na pasta img, dentro da pasta SRC */
  background-image: url('./img/quadro-scrum.jpg');
  background-position: center;
  background-size: covert; /* como é imagem grande, o cover aparece a imagem o máximo possível */
}

.App{
  max-width: 600px;
  margin: 0 auto 300px; /* os 300px vai facilitar a centralização */
  /* Cor de fundo do texto app é quase branco */
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}
