body{
  font-family: Arial;
  background-color: #f4f4f4;
  padding: 30px; /* para espaçamento nos conteúdos dos todos */
  color: #333;
  /* imagem de fundo, mas primeiro salve a imagem na pasta img, dentro da pasta SRC */
  background-image: url('./img/quadro-scrum.jpg');
  background-position: center;
  background-size: covert; /* como é imagem grande, o cover aparece a imagem o máximo possível */
}

.App{
  max-width: 600px;
  margin: 0 auto 300px; /* os 300px vai facilitar a centralização */
  /* Cor de fundo do texto app é quase branco */
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center; /* centralizar o paragrafo h1 */
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;  /* para não passar da área de limite */
}

button{
	background-color: #333974;
	color: #fff;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s; /*com a transição a cor mudará a opacity */
}

button:hover{
	opacity: 1;  /* com transição hover a opacidade muda de 0.8 para 1.0 */
}

.todo-form{
	padding-bottom: 1.5rem;  /* para dar espaçamento interno */
}

input, select {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 3px; 	/* conforme outros itens, é padrão */
	width: 100%;   
}
